<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
      xmlns:th="http://www.thymeleaf.org">
    <head th:fragment="head">
        <title>Macrobiotica Santa Ana</title>
        <meta charset="UTF-8"/>
        <link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet"/>
        <link th:href="@{/webjars/font-awesome/css/all.css}" rel="stylesheet"/>
        <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
        <script th:src="@{/js/rutinas.js}"></script>
        <script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
        <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>

        <link th:href="@{/css/estilos.css}" rel="stylesheet"/>
    </head>
    <body>
        <header th:fragment="header" class="header">
            <nav class="navbar bg-body">
                <div class="container-fluid">
                    <a class="navbar-brand">                
                        <img src="https://img.freepik.com/vector-gratis/fondo-bonito-elementos-spa_23-2147555419.jpg?t=st=1713576484~exp=1713580084~hmac=8b05864ce444bc7ec3f35d0fb549a45012d2e82a3f58df986c7323106aa7bd1b&w=740" alt="80px" width="80px" height="80px" class="d-inline-block align-text-right" />         
                        Macrobiotica Santa Ana
                    </a>
                </div>
            </nav>
            <nav class="navbar navbar-expand-sm navbar-dark bg-brown p-0">
                <div class="container">
                    <a th:href="@{/}" class="navbar-brand">[[#{aplicacion.titulo}]]</a>
                    <button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse justify-content-center" id="navbarCollapse">
                        <ul class="navbar-nav" sec:authorize="hasRole('VENDEDOR')">
                            <li class="nav-item px-2"><a class="nav-link" th:href="@{/categoria/listado}">[[#{plantilla.categorias}]]</a></li>
                            <li class="nav-item px-2"><a class="nav-link" th:href="@{/producto/listado}">[[#{plantilla.productos}]]</a></li>  
                            <li class="nav-item px-2"><a class="nav-link" th:href="@{/testimonios/listado}">[[#{plantilla.testimonios}]]</a></li>
                            <li class="nav-item px-2"><a class="nav-link" th:href="@{/noticias/listado}">[[#{plantilla.noticias}]]</a></li>              
                            <li class="nav-item dropdown" sec:authorize="hasRole('ADMIN')">
                                <a class="nav-link dropdown-toggle" 
                                   data-bs-toggle="dropdown" 
                                   href="#" 
                                   role="button" 
                                   aria-expanded="false">[[#{plantilla.pruebas}]]</a>
                                <ul class="dropdown-menu dropdown-menu-dark">
                                    <li><a class="dropdown-item"  th:href="@{/pruebas/listado}">[[#{plantilla.asociaciones}]]</a></li>
                                    <li><a class="dropdown-item"  th:href="@{/pruebas/listado2}">[[#{plantilla.consultas}]]</a></li>
                                    <li><a class="dropdown-item" th:href="@{/usuario/listado}">[[#{plantilla.usuarios}]]</a></li>
                                </ul>
                            </li>
                            <li class="nav-item px-2" sec:authorize="!hasRole('ADMIN')">
                                <a class="nav-link" th:href="@{/testimonios/listado}">Carrito</a>
                            </li>
                            

                        </ul>
                        <ul class="navbar-nav" sec:authorize='!isAuthenticated()'>
                            <li class="nav-item px-2 text-white">
                                <a class='nav-link'
                                   th:href='@{/login}'>
                                    <i class='fas fa-sign-in-alt'></i>
                                </a>
                            </li>
                        </ul>
                        <ul class="navbar-nav" sec:authorize='isAuthenticated()'>
                            <li class="nav-item px-2 text-white my-auto">
                                <img th:src='@{${session.usuarioImagen}}'
                                     alt='user'
                                     height="40"
                                     class='rounded-circle'/>
                                <span sec:authentication='name'>xxx</span>
                            </li>
                            <li class="nav-item px-2 text-white my-auto">
                                <form method="post"
                                      th:action='@{/logout}'>
                                    <button class='btn btn-brown'>
                                        <i class='fas fa-sign-out-alt'></i> 
                                    </button>
                                </form>
                            </li>
                        </ul>
                    </div>
                    <div>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" 
                           data-bs-toggle="dropdown" 
                           href="#" 
                           role="button" 
                           aria-expanded="false">Carrito</a>
                        <ul class="dropdown-menu dropdown-menu-dark">
                            <li th:each="producto : ${Carrito}">
                                <a class="dropdown-item" >
                                    <span th:text="${producto.producto.descripcion}">Descripción del Producto</span>
                                    <span th:text="${' x ' + producto.cantidad}">Cantidad</span>
                                </a>
                                <button type="button" class="btn btn-danger btn-sm">Eliminar</button>
                            </li>
                        </ul>
                    </li>
                    </div>
                    
                </div>
            </nav>
        </header>
    </body>
</html>
